@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
   font-family: 'Kanit', sans-serif;
   margin: 0px;
   padding: 0px;
   background-color: white;
}
header {
   display: inline;
}
nav {
   background-color: #132238;
   padding: 5px;
   position: sticky;
   top: 0;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
  padding: 20px;
  margin: 5px;
}
nav .logo a {
  color: white;
  font-size: 27px;
  font-weight: 600;
  text-decoration: none;
  padding: 8px;
  border-style: solid;
  border-width: 4px;
  border-radius: 20px;
}
nav ul{
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
nav ul li{
  float: left;
  display: inline-block;
  background: #132238;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  line-height: 50px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul li a:hover{
  color: #f4f4f2;
  border-radius: 5px;
  box-shadow:  0 0 10px #F4F4F2,
               0 0 10px #F4F4F2;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shadow {
  box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 
              0 15px 40px rgba(166, 173, 201, .2);
}
.content .container{
  width: 90%;
  background-color: #f4f4f2;
  margin: 15px;
  padding: 15px;
  border-radius: 8px;
  flex-grow: 1;
  height: fit-content;
}
.text-center {
  text-align: center;
}
.form {
    display: flex;
    padding: 15px;
    flex-direction: column;
    border-radius: 16px;
    margin-left: 200px;
}
.form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: lighter;
}
input[type=text],
input[type=number]{
    background: white;
    width: 80%;
    border: 2px solid #2F4F4F;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 8px;
    font-size: 16px;
    margin-left: 
}
.form_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}
.btn-submit {
    width: fit-content;
    border-radius: 20px;
    width: 80%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background: #495464;
    color: #f4f4f2;
}
.btn-submit:hover{
    color: white;
    box-shadow:0 0 10px #5c527f,
               0 0 10px #132238;
}
.form-cari {
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    grid-gap: 10px;
    margin-left: 200px;
}
.form-cari label {
    display: flex;
    align-items: center;
}
.form-cari input {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}
.form-cari button {
    padding: 15px;
    background-color: #495464;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
}
.form-cari button:hover{
    color: white;
    box-shadow:0 0 10px #5c527f,
               0 0 10px #132238;
}
.item {
    border-radius: 16px;
    margin-top: 16px;
    padding: 12px 24px 12px 24px;
    background: white;
    display: flex;
    align-items: center;
}

.item > .inner h2 {
    margin-bottom: unset;
}

.item > .inner h3 {
    font-size: 20px;
}
.item > .inner h4 {
    margin: 0px;
}

.item > .inner p {
    margin-top: 0px;
}
.check-button {
    background: url('../assets/check-outline.svg');
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.check-button:hover {
    background: url('../assets/check-solid.svg');
    background-size: contain;
}

.trash-button{
    background: url('../assets/trash-outline.svg');
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    cursor: pointer;
    border: none;
}

.trash-button:hover {
    background: url('../assets/trash-fill.svg');
    background-size: contain;
}

.undo-button{
    background: url('../assets/undo-ouline.svg');
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.undo-button:hover {
    background: url('../assets/undo-ouline.svg');
    background-size: contain;
}

.check-button:focus, .trash-button {
    outline: none;
}
footer {
   padding: 15px;
   color: white;
   background-color: #132238;
   text-align: center;
   -moz-border-radius: 100px;
   font-family: 'Kanit', sans-serif;
}
@media screen and (max-width: 1000px) {
   .content {
      margin: 0;
    }
    .content .container {
      width: 90%;
    }
    .list-item {
      width: 90%;
    }
    .form {
      width: 90%;
      margin: 0px;
    }
    .form-cari {
      width: 90%;
      margin: 0px;
    }
}